.sidebar {
    width: 12rem;
    margin-top: 0.5rem;
    margin-right: 5rem;
}

.list {
}

.title {
    margin: 0;
    margin-top: 1.4rem;
    font-weight: 200;
    font-size: 1.2rem;
    border-top: 1px solid rgb(182, 182, 182);
    padding-top: 1rem;
    /* text-decoration: underline;
    text-decoration-thickness: 1px; */
}

.title:nth-of-type(1) {
    padding-top: 0;
    border: 0;
}

.subTitle {
    margin: 0;
    font-weight: 200;
    font-size: 1.1rem;
}

.listItem {
    font-weight: 400;
    color: grey;
    margin: 0.7rem;
    margin-left: 0.9rem;
}

.innerListItem {
    color: rgb(45, 45, 45);
}

.active {
    font-weight: 700;
}

.comingSoon {
    color: grey;
    font-weight: 200;
}

.langList {
    margin: 0.6rem;
}
