.page {
    min-height: calc(100vh - 7rem);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.link {
    color: rgb(74, 74, 233);
    text-decoration: underline;
}

.link:hover {
    cursor: pointer;
}

.title {
    margin-top: 5rem;
}
