.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: calc(100vh - 7rem);
    padding: 1rem;
}

.label {
    font-size: 1.4rem;
    font-weight: 400;
    margin: 2rem 0 1.5rem 0;
}

.downloadLink {
    font-weight: 400;
    padding: 1rem;
    border-radius: 0.5rem;
    border: 1px solid grey;
    transition: 0.3s;
}

.downloadLink:hover {
    background-color: rgb(112, 155, 255);
    /* border: 1px solid yellow; */
    text-decoration: underline;
    text-decoration-thickness: 1px;
    cursor: pointer;
    color: rgb(255, 255, 255);
}

.explanation {
    width: 56rem;
    font-weight: 200;
    padding-top: 0.3rem;
    border-top: 2px solid rgb(150, 150, 150);
    font-size: 0.9rem;
}

.important {
    font-weight: 600;
}

.image {
    width: 20rem;
    margin: 0.3rem;
}

.explanationP {
    margin-bottom: 0.2rem;
}

@media (max-width: 560px) {
    .page {
        padding: 1rem 0 1rem 0;
    }
}
