.container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 39rem;
    padding: 0 0.5rem 0 0.5rem;
    color: rgb(52, 52, 52);
    font-size: 0.9rem;
    font-weight: 300;
}

.container.showBorder {
    border-right: 3px solid rgb(200, 200, 200);
}

.description {
    margin: 0.5rem 0 0.5rem 0;
}

.list {
    margin: 0.5rem 0 0.5rem 0;
    padding: 0 0 0 1rem;
}

.listEl {
    margin: 0;
}
