.select {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.row {
    display: flex;
    flex-direction: row;
    width: fit-content;
}

.title {
    font-size: 1.3rem;
    font-weight: 300;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    margin: 2rem 0 0 0;
}

.scroll {
    max-height: 10rem;
    overflow-y: scroll;
    width: 26rem;
    margin-top: 0.5rem;
}

.scroll::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 3px;
}

.scroll::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}
