.continer {
    display: flex;
    flex-direction: column;
}

.tree {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.title {
    font-size: 1.5rem;
}

.subtitle {
    background-color: rgb(55, 137, 237);
    color: white;
    border-radius: 1.5rem;
    padding: 0.5rem;
}
